
img {
  height: 400px;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  display: inline-block;
  margin: 5px;
  margin-top: -30px;
  font-size: 100px;
  height: 10px;
}

#letters-area {
  height: 50px;
  text-align: center;
}

#button-area {
  text-align: center;
  margin-top: 10px;
}

#hangman-area {
  text-align: center;
}

table {
  border: 1px solid black;
  width: 300px;
}

td {
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

td:hover {
  background-color: red;
}
